<form action = "/names" method = "post">

    <div> 
        <h4>
            Enter Player One Name: 
            <input type = "text" name = "Name 1">
        </h4>
    </div>
    <div> 
        <h4>
            Enter Player Two Name: 
            <input type = "text" name = "Name 2">
        </h4>
    </div>
  <input type = "submit" value = "Start Game">

</form>